# Calculate the rank of each county for each feature and for each subset of the population

In [1]:
import pandas as pd
import numpy as np

Read data

In [2]:
county_info_df =pd.read_csv('index_2014.csv')
county_info_df.head()

,County,Year,Age (<4YO),Gender (M),White,African,Asian,Hispanic,Other,Rate (per 10k),Rate predict
0,Alameda,2014,1,0,0,1,0,0,0,329.94,299.221778
1,Alameda,2014,1,1,0,1,0,0,0,596.67,618.332822
2,Alameda,2014,0,0,0,1,0,0,0,223.52,225.082222
3,Alameda,2014,0,1,0,1,0,0,0,304.49,254.442056
4,Alameda,2014,1,0,0,0,1,0,0,39.63,39.203222

In [3]:
feats_df= pd.read_csv('feats_2014.csv')
feats_df.head()

,Age (<4YO),Gender (M),African,Other,AQI Median,O3 AQI,PM2.5 AQI,Population near busy roads (%),Area burned percent,Private (%),Other (%),Median household income
0,1,0,1,0,43.0,0.416438,0.506849,71.7,0.027486,23.22,14.9,75619
1,1,1,1,0,43.0,0.416438,0.506849,71.7,0.027486,23.22,14.9,75619
2,0,0,1,0,43.0,0.416438,0.506849,71.7,0.027486,23.22,14.9,75619
3,0,1,1,0,43.0,0.416438,0.506849,71.7,0.027486,23.22,14.9,75619
4,1,0,0,0,43.0,0.416438,0.506849,71.7,0.027486,23.22,14.9,75619

In [4]:
fin= open('impactscore_2014.csv','r')
line= fin.readline()
fin.close()
header= line.strip().split(',')

print header

['AQI Median', 'O3 AQI', 'PM2.5 AQI', 'Population near busy roads (%)', 'Area burned percent']

### Filter through each subset of the population

In [5]:
df= pd.DataFrame()

In [6]:
# White population
for age in [0,1]:
    for gender in [0,1]:
        vals= [age,gender,1,0,0,0,0]
        inds= (county_info_df.iloc[:,2]==vals[0]) & (county_info_df.iloc[:,3]==vals[1]) & (county_info_df.iloc[:,4]==vals[2]) & (county_info_df.iloc[:,5]==vals[3]) & (county_info_df.iloc[:,6]==vals[4]) & (county_info_df.iloc[:,7]==vals[5]) & (county_info_df.iloc[:,8]==vals[6])
        tmp_df= pd.concat([county_info_df.loc[inds], 100.*feats_df.loc[inds,header].rank(pct=True, ascending=False)], axis=1)
        df= pd.concat([df,tmp_df])

In [7]:
# Compare with actual values
# vals= [0,0,1,0,0,0,0]
# inds= (county_info_df.iloc[:,2]==vals[0]) & (county_info_df.iloc[:,3]==vals[1]) & (county_info_df.iloc[:,4]==vals[2]) & (county_info_df.iloc[:,5]==vals[3]) & (county_info_df.iloc[:,6]==vals[4]) & (county_info_df.iloc[:,7]==vals[5]) & (county_info_df.iloc[:,8]==vals[6])
# df_aux= pd.concat([county_info_df.loc[inds], feats_df.loc[inds,header]], axis=1)

In [8]:
# African population
for age in [0,1]:
    for gender in [0,1]:
        vals= [age,gender,0,1,0,0,0]
        inds= (county_info_df.iloc[:,2]==vals[0]) & (county_info_df.iloc[:,3]==vals[1]) & (county_info_df.iloc[:,4]==vals[2]) & (county_info_df.iloc[:,5]==vals[3]) & (county_info_df.iloc[:,6]==vals[4]) & (county_info_df.iloc[:,7]==vals[5]) & (county_info_df.iloc[:,8]==vals[6])
        tmp_df= pd.concat([county_info_df.loc[inds], 100.*feats_df.loc[inds,header].rank(pct=True, ascending=False)], axis=1)
        df= pd.concat([df,tmp_df])

In [9]:
# Asian population
for age in [0,1]:
    for gender in [0,1]:
        vals= [age,gender,0,0,1,0,0]
        inds= (county_info_df.iloc[:,2]==vals[0]) & (county_info_df.iloc[:,3]==vals[1]) & (county_info_df.iloc[:,4]==vals[2]) & (county_info_df.iloc[:,5]==vals[3]) & (county_info_df.iloc[:,6]==vals[4]) & (county_info_df.iloc[:,7]==vals[5]) & (county_info_df.iloc[:,8]==vals[6])
        tmp_df= pd.concat([county_info_df.loc[inds], 100.*feats_df.loc[inds,header].rank(pct=True, ascending=False)], axis=1)
        df= pd.concat([df,tmp_df])

In [10]:
# Hispanic population
for age in [0,1]:
    for gender in [0,1]:
        vals= [age,gender,0,0,0,1,0]
        inds= (county_info_df.iloc[:,2]==vals[0]) & (county_info_df.iloc[:,3]==vals[1]) & (county_info_df.iloc[:,4]==vals[2]) & (county_info_df.iloc[:,5]==vals[3]) & (county_info_df.iloc[:,6]==vals[4]) & (county_info_df.iloc[:,7]==vals[5]) & (county_info_df.iloc[:,8]==vals[6])
        tmp_df= pd.concat([county_info_df.loc[inds], 100.*feats_df.loc[inds,header].rank(pct=True, ascending=False)], axis=1)
        df= pd.concat([df,tmp_df])

In [11]:
# Other population
for age in [0,1]:
    for gender in [0,1]:
        vals= [age,gender,0,0,0,0,1]
        inds= (county_info_df.iloc[:,2]==vals[0]) & (county_info_df.iloc[:,3]==vals[1]) & (county_info_df.iloc[:,4]==vals[2]) & (county_info_df.iloc[:,5]==vals[3]) & (county_info_df.iloc[:,6]==vals[4]) & (county_info_df.iloc[:,7]==vals[5]) & (county_info_df.iloc[:,8]==vals[6])
        tmp_df= pd.concat([county_info_df.loc[inds], 100.*feats_df.loc[inds,header].rank(pct=True, ascending=False)], axis=1)
        df= pd.concat([df,tmp_df])

Sort through index values and get only the header columns

In [12]:
df.sort_index(inplace=True)
df= df.loc[:,header]

In [13]:
df.to_csv('temp_ranks_2014.csv',index=False,header=True)