# Calculate the rank of each county for each feature

In [1]:
import pandas as pd
import numpy as np

Read data

In [20]:
feats_df= pd.read_csv('temp4rank.csv', dtype={'FIPS':np.str})
feats_df.head()

,County,FIPS,AQI Median,O3 AQI,PM2.5 AQI,Population near busy roads (%),Area burned percent
0,Alameda,06001,43.0,0.416438,0.506849,71.7,0.027486
1,Amador,06005,42.0,1.000000,0.000000,6.8,0.047040
2,Butte,06007,52.0,0.624658,0.375342,31.2,0.053374
3,Calaveras,06009,44.0,0.756233,0.243767,3.4,0.049325
4,Colusa,06011,44.0,0.410959,0.586301,10.0,0.002173

In [21]:
header= feats_df.columns[2:].tolist()
print header

['AQI Median', 'O3 AQI', 'PM2.5 AQI', 'Population near busy roads (%)', 'Area burned percent']

In [22]:
temp_df= 100.*feats_df.loc[:,header].rank(pct=True, ascending=False)
temp_df.head()

,AQI Median,O3 AQI,PM2.5 AQI,Population near busy roads (%),Area burned percent
0,68.478261,84.782609,21.739130,8.695652,39.130435
1,75.000000,3.260870,98.913043,97.826087,23.913043
2,38.043478,45.652174,43.478261,58.695652,17.391304
3,60.869565,21.739130,78.260870,100.000000,21.739130
4,60.869565,86.956522,10.869565,93.478261,76.086957

In [23]:
ranks_df= pd.concat([feats_df.iloc[:,[0,1]],temp_df],axis=1)
ranks_df.head()

,County,FIPS,AQI Median,O3 AQI,PM2.5 AQI,Population near busy roads (%),Area burned percent
0,Alameda,06001,68.478261,84.782609,21.739130,8.695652,39.130435
1,Amador,06005,75.000000,3.260870,98.913043,97.826087,23.913043
2,Butte,06007,38.043478,45.652174,43.478261,58.695652,17.391304
3,Calaveras,06009,60.869565,21.739130,78.260870,100.000000,21.739130
4,Colusa,06011,60.869565,86.956522,10.869565,93.478261,76.086957

In [24]:
ranks_df.to_csv('temp_ranks_2014.csv',index=False,header=True)