In [1]:
import pandas as pd
import numpy as np

# Get name and FIPS of counties

In [10]:
counties_df= pd.read_csv('../county_info.csv',dtype={'FIPS': np.str})

counties_df.head()

      County   FIPS
0    Alameda  06001
1     Alpine  06003
2     Amador  06005
3      Butte  06007
4  Calaveras  06009

## Get the data for each sample

In [11]:
index_df= pd.read_csv('index_2014.csv')
Nrows= len(index_df)

index_df.head()

,County,Year,Age (<4YO),Gender (M),White,African,Asian,Hispanic,Other,Rate (per 10k),Rate predict
0,Alameda,2014,1,0,0,1,0,0,0,329.94,299.221778
1,Alameda,2014,1,1,0,1,0,0,0,596.67,618.332822
2,Alameda,2014,0,0,0,1,0,0,0,223.52,225.082222
3,Alameda,2014,0,1,0,1,0,0,0,304.49,254.442056
4,Alameda,2014,1,0,0,0,1,0,0,39.63,39.203222

In [12]:
identifiers_df= index_df.iloc[:,[0,1]]

In [13]:
r=2
age= []
for i in xrange(Nrows):
    if index_df.iat[i,r]==1:
        age.append('0-4')
    else:
        age.append('5-17')

In [14]:
r=3
gender= []
for i in xrange(Nrows):
    if index_df.iat[i,r]==1:
        gender.append('male')
    else:
        gender.append('female')

In [15]:
rs=[4,5,6,7,8]
ethnicity= []
for i in xrange(Nrows):
    if index_df.iat[i,rs[0]]==1:
        ethnicity.append('white')
    elif index_df.iat[i,rs[1]]==1:
        ethnicity.append('african')
    elif index_df.iat[i,rs[2]]==1:
        ethnicity.append('asian')
    elif index_df.iat[i,rs[3]]==1:
        ethnicity.append('hispanic')
    elif index_df.iat[i,rs[4]]==1:
        ethnicity.append('other')
    else:
        ethnicity.append(np.NaN)
        print 'WARNING: no ethnicity for row %d' % i

In [16]:
identifiers_df['Age']= np.array(age)
identifiers_df['Gender']= np.array(gender)
identifiers_df['Ethnicity']= np.array(ethnicity)

/home/joao/anaconda2/envs/insight/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/joao/anaconda2/envs/insight/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/joao/anaconda2/envs/insight/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [17]:
identifiers_df.head()

    County  Year   Age  Gender Ethnicity
0  Alameda  2014   0-4  female   african
1  Alameda  2014   0-4    male   african
2  Alameda  2014  5-17  female   african
3  Alameda  2014  5-17    male   african
4  Alameda  2014   0-4  female     asian

In [19]:
tmp_df= index_df.loc[:,['Rate (per 10k)','Rate predict']]

In [25]:
data_df= pd.merge(counties_df,identifiers_df,on='County')

In [28]:
rates_df= pd.concat([data_df,tmp_df],axis=1)

In [29]:
rates_df.to_csv('temp_rates_2014.csv',index=False,header=True)